body {
    background-color: darkslategray;
}

.welcome {
    width: 35%;
    height: 30%;
    padding: 20px 20px 40px 20px;
    background: white;
    position: absolute;
    top: 40%;
    margin-top: 10%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -100%);
    text-align: center;
    color: black;
}

h1 {
    color: black;
}

.confirm-popup {
    display: none;
    position: absolute;
    height: 60px;
    width: 700px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -500%);
    background: lightgreen;
    color: darkslategray;
    text-align: center;
    font-size: 20px;
    border: 1px solid darkgreen;
}

.loginfail-popup {
    display: none;
    position: absolute;
    height: 60px;
    width: 700px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -500%);
    background: #ff6666;
    color: black;
    text-align: center;
    font-size: 20px;
    border: 1px solid darkred;
}

.form-popup {
    display: none;
    width: 20%;
    height: 30%;
    padding: 20px 20px 40px 20px;
    background: white;
    position: absolute;
    top: 40%;
    margin-top: 10%;
    left: 80%;
    margin-right: -50%;
    transform: translate(-50%, -100%);
    text-align: center;
    color: black;
    border-left: solid darkslategray;
}

.signupform-popup {
    display: none;
    width: 20%;
    height: 50%;
    padding: 20px 20px 40px 20px;
    background: white;
    position: absolute;
    top: 40%;
    margin-top: 15%;
    left: 80%;
    margin-right: -50%;
    transform: translate(-50%, -100%);
    text-align: center;
    color: black;
    border-left: solid darkslategray;
}

.textbox {
    background-color: #eeeeee;
    color: black;
    padding: 16px 20px;
    border: black;
    /*cursor: pointer;*/
    width: 50%;
    margin-bottom:10px;
    opacity: 0.8;
    font-size: 15px;
}

.textboxes {
    padding: 20px 0px 20px 0px;
}

.buttons button {
    font-size: 20px;
    color: black;
    padding: 15px 15px 15px 15px;
    background-color: darkslategray;
    border: 1px solid grey;
    /*cursor: pointer;*/
    width: 30%;
    margin-top: 30px;
    opacity: 0.8;
}

.buttons button:hover {
    opacity: 1;
}