.POST {
    border-radius: 3px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    margin-bottom: 60px;
    margin-left : 20%;
    margin-right: 20%;
}

.Post-user {
    display: flex;
    padding: 16px;
    align-items: center;
}

.Post-question {
    display: flex;
    padding: 16px;
    align-items: center;
}